<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Wordpress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle> TechCrunch </ion-card-subtitle>
      <img src="assets/img/techcrunch.png" alt="">
    </ion-card-header>

    <ion-button (click)="showNews()" expand="block"> Mostrar noticias de hoy </ion-button>

    <ion-list>
      <ion-item *ngFor="let news of link">
        <ion-card>
          <ion-card-header>
            <a [attr.href]="news.link" target="_blank">{{ news.title.rendered }}</a>
          </ion-card-header>
          <ion-card-content>
            {{ news.excerpt.rendered }}
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

