<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Genero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nombre:</ion-label>
    <ion-input [(ngModel)]="name" type="text"></ion-input>
  </ion-item>
  <ion-button (click)="predictGender()" expand="block">Predecir Género</ion-button>

  <ion-card *ngIf="prediction">
    <ion-card-header>
      Predicción de Género
    </ion-card-header>
    <ion-card-content [ngClass]="{'male': prediction.gender === 'male', 'female': prediction.gender === 'female'}">
      {{ prediction.name }} es {{ prediction.gender }}
    </ion-card-content>
  </ion-card>
</ion-content>
