<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Nombre:</ion-label>
    <ion-input [(ngModel)]="name" type="text"></ion-input>
  </ion-item>
  <ion-button (click)="predictAge()" expand="block">Predecir Edad</ion-button>

  <ion-card *ngIf="agePrediction">
    <ion-card-header>
      Predicción de Edad
    </ion-card-header>
    <ion-card-content>
      <img [src]="agePrediction.image" alt="Estado">
      <p>Edad: {{ agePrediction.age }}</p>
      <p>Estado: {{ agePrediction.state }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>